stitle, categories, cclis, authors, key {
  margin-bottom: 1em;
}
authors, introduction, scripture_ref, key {
  margin-right: 1em; 
  display: inline-block;
}
stitle, categories, cclis, copyright {
  display: block;
}
stitle {
  font-size: 1.17em;/*h3 STYLING*/
  font-weight: bold;
  position: sticky;
  top: 0;
  background-color: lightblue;
  z-index: 10;
}
chunk {
  position: relative;
  display: block;
  margin-left: 2em;
  margin-bottom: 1em;
}
line {
  display: block;
  position: relative;
  padding-top: 1em;
}
.nochords line {
 padding-top: 0em;
}
c {
 position: absolute;
 bottom: 1em;
}
.nochords c {
 display: none;
}

/*counter stuff  */
song {
 display: block;
 margin-block-start: 1em;/*h3 STYLING*/
 margin-block-end: 1em;/*h3 STYLING*/
 white-space: pre-wrap;
 counter-reset: verse_n; 
}
.nochords [type=verse]:before {
  top: 1.2em;
}
[type=verse]:before {
 position: relative;
 top: 2.1em;
 right: 2em;
 content: counter(verse_n) ")";
 counter-increment: verse_n;
}
/*end of counter stuff */

[type=chorus]:before {
 content: '\A Chorus: \A\A';
 position: relative;
 right: 2em;

}
[type=pre-chorus]:before {
 content: '\A Pre-Chorus:\A\A';
}
[type='final chorus']:before {
 content: '\A Final Chorus:\A\A';
}
[type=bridge]:before {
 content: '\A Bridge:\A\A';
}
[type=ending]:before {
 content: '\A Ending:\A\A';
}
[type=comment]:before {
 content: '\A Comment:\A\A';
 color: #555;
 font-style: italic;
}
.nochords [type=chorus]:before {
 content: '\A Chorus:';
}
.nochords [type=pre-chorus]:before {
 content: '\A Pre-Chorus:';
}
.nochords [type='final chorus']:before {
 content: '\A Final Chorus:';
}
.nochords [type=bridge]:before {
 content: '\A Bridge:';
}
.nochords [type=ending]:before {
 content: '\A Ending:';
}
.nochords [type=comment]:before {
 content: '\A Comment:';
}
.nochords chunk {
  margin-bottom: 0em;
}
.edit chunk {
  margin-bottom: 1em;
}
.edit chunk:before {
  position: absolute;
  top: 1.3em;
  left: -2em;
}
.edit chunk[type='chorus']:before,
.edit chunk[type='pre-chorus']:before,
.edit chunk[type='final chorus']:before,
.edit chunk[type='ending']:before,
.edit chunk[type='comment']:before,
.edit chunk[type='bridge']:before {
  content:'';
}
[type=comment] line {
 color: #555;
 font-style: italic;
}
chunk:before {
 content: ' ';
}
key:not(:empty):before {content: 'Key: '}
copyright:before {
 content: '';
}
copyright {
 margin-top: 1em;
}
introduction:before {
 content: ''; 
}
cclis:not(:empty):before {
  content: 'CCLI'; visibility: visible;
  margin-bottom: 2em;
}
cclis {visibility: hidden;}
stitle[contentEditable=true]:empty:before{
  content: 'Title ';
}
key[contentEditable=true]:empty:before{
  content: 'Key ';
}
authors[contentEditable=true]:empty:before{
  content: 'Author ';
}
scripture_ref[contentEditable=true]:empty:before{
  content: 'Scripture ';
}
introduction[contentEditable=true]:empty:before{
  content: 'Intro Chords ';
}
.edit categories:empty:before{
  content: 'No category selected - add one! :)';
  color: salmon;
}
chunk[contentEditable=true]:empty:before{
  content: 'Verse/Chorus/Comment ';
  top: 0;
  left: 0;
}
copyright[contentEditable=true]:empty:before{
  content: 'Copyright ';
}
[contentEditable=true]:focus {
  min-width: 3rem;
}
