stitle, categories, cclis, authors, key {
  margin-bottom: 1em;
}
stitle, categories, cclis, copyright {
  display: block;
}
stitle {
  font-size: 1.17em;/*h3 STYLING*/
  font-weight: bold;
}
chunk {
  display: block;
  margin-left: 2em;
  margin-bottom: 1em;
}
line {
  display: block;
  position: relative;
  padding-top: 1em;
  bottom: 1em;
}
.nochords line {
 padding-top: 0em;
 bottom: 0em;
}
c {
 position: absolute;
 bottom: 1em;
}
.nochords c {
 display: none;
}

/*counter stuff  */
song {
 display: block;
 margin-block-start: 1em;/*h3 STYLING*/
 margin-block-end: 1em;/*h3 STYLING*/
 white-space: pre-wrap;
 counter-reset: verse_n; 
}
[type=verse]:before {
 position: relative;
 top: 1.3em;
 right: 2em;
 content: counter(verse_n) ")";
 counter-increment: verse_n;
}
/*end of counter stuff */

[type=chorus]:before {
 content: '\A Chorus: \A\A';
 position: relative;
 right: 2em;

}
[type=pre-chorus]:before {
 content: '\A Pre-Chorus:\A\A';
}
[type='final chorus']:before {
 content: '\A Final Chorus:\A\A';
}
[type=bridge]:before {
 content: '\A Bridge:\A\A';
}
[type=ending]:before {
 content: '\A Ending:\A\A';
}
[type=comment]:before {
 content: '\A Comment:\A\A';
 color: #555;
 font-style: italic;
}
.nochords [type=chorus]:before {
 content: '\A Chorus:';
}
.nochords [type=pre-chorus]:before {
 content: '\A Pre-Chorus:';
}
.nochords [type='final chorus']:before {
 content: '\A Final Chorus:';
}
.nochords [type=bridge]:before {
 content: '\A Bridge:';
}
.nochords [type=ending]:before {
 content: '\A Ending:';
}
.nochords [type=comment]:before {
 content: '\A Comment:';
}
.nochords chunk {
  margin-bottom: 0em;
}
.edit chunk {
  margin-bottom: 1em;
}
[type=comment] line {
 color: #555;
 font-style: italic;
}
chunk:before {
 content: ' ';
}
key:not(:empty):before {content: 'Key: '}
authors, introduction {margin-right: 1em; display: inline-block;}
copyright:before {
 content: '';
}
copyright {
 margin-top: 1em;
}
introduction:before {
 content: ''; 
}
cclis:not(:empty):before {content: 'CCLI'; visibility: visible;}
cclis {visibility: hidden;}
stitle[contentEditable=true]:empty:not(:focus):before{
  content: 'Title: ';
}
key[contentEditable=true]:empty:not(:focus):before{
  content: 'Key: ';
}
authors[contentEditable=true]:empty:not(:focus):before{
  content: 'Author: ';
}
scripture[contentEditable=true]:empty:not(:focus):before{
  content: 'Scripture: ';
}
categories[contentEditable=true]:empty:not(:focus):before{
  content: 'Categories: ';
}
copyright[contentEditable=true]:empty:not(:focus):before{
  content: 'Copyright: ';
}
