stitle, categories, cclis, authors, key {
  margin-bottom: 1em;
}
authors, introduction, scripture_ref, key {
  margin-right: 1em; 
  display: inline-block;
}
stitle, categories, cclis, copyright {
  display: block;
}
stitle {
  font-size: 1.17em;/*h3 STYLING*/
  font-weight: bold;
  position: sticky;
  padding-top: 1em;
  padding-right: 2.75em;
  top: 0;
  z-index: 1;
  column-span: all;
}
chunk {
  break-inside: avoid;
  position: relative;
  display: block;
  margin-left: 2em;
  margin-bottom: 1em;
}
line {
  display: block;
  position: relative;
  padding-top: 1em;
}
.nochords line {
  padding-top: 0;
}
c {
 position: relative;
 top: -1em;
 display: inline-block;
 width: 0;
}
.nochords c {
 display: none;
}
/*counter stuff  */
song {
  display: block;
  white-space: pre-wrap;
  counter-reset: verse_n; 
  column-width: 18.75rem;
  column-fill: auto;
  column-rule: 2px solid var(--edit-color);
  column-gap: 4rem;
  margin-bottom: 1rem;
}
.nochords [type=verse]:before {
  top: 1.2em;
}
[type=verse]:before {
  top: 2.1em;
  content: counter(verse_n) ")";
  counter-increment: verse_n;
}
/*end of counter stuff */
chunk:before {
  position: relative;
  right: 2em;
}
[type=chorus]:before {
 content: 'Chorus: ';
}
[type=pre-chorus]:before {
 content: 'Pre-Chorus: ';
}
[type='final chorus']:before {
 content: 'Final Chorus: ';
}
[type=bridge]:before {
 content: 'Bridge: ';
}
[type=ending]:before {
 content: 'Ending: ';
}
[type=comment]:before {
 content: 'Comment: ';
 color: var(--light-text-color);
 font-style: italic;
}
.nochords chunk {
  margin-top: 1em;
  margin-bottom: 0em;
}
.edit cclis {
  display: inline-block;
  width: 5rem;
}
.edit chunk {
  margin-bottom: 1em;
}
.edit chunk:before {
  position: absolute;
  top: 1.3em;
  left: -2em;
}
.edit chunk[type='chorus']:before,
.edit chunk[type='pre-chorus']:before,
.edit chunk[type='final chorus']:before,
.edit chunk[type='ending']:before,
.edit chunk[type='comment']:before,
.edit chunk[type='bridge']:before {
  content:'';
}
[type=comment] line {
 color: var(--light-text-color);
 font-style: italic;
}
[type='indented no label'] line {
  margin-left: 2em;
}
key:not(:empty):before {content: 'Key: '}
copyright:before {
 content: '';
}
copyright {
 margin-top: 1em;
}
introduction:before {
 content: ''; 
}
.edit cclis {
  margin-bottom: 0;
}
stitle[contentEditable=true]:empty:before{
  content: 'Title ';
}
key[contentEditable=true]:empty:before{
  content: 'Key ';
}
authors[contentEditable=true]:empty:before{
  content: 'Author ';
}
scripture_ref[contentEditable=true]:empty:before{
  content: 'Scripture ';
}
introduction[contentEditable=true]:empty:before{
  content: 'Intro Chords ';
}
.edit categories:empty:before{
  content: 'No category selected - add one! :)';
  color: salmon;
}
chunk[contentEditable=true]:empty:before{
  content: 'Verse/Chorus/Comment ';
  top: 0;
  left: 0;
}
copyright[contentEditable=true]:empty:before{
  content: 'Copyright ';
}
[contentEditable=true]:focus {
  min-width: 3rem;
}
