*{box-sizing: border-box;transition: all .25s;}
html, body, main{
  height: 100%; 
  margin: 0;
}
a {
  text-decoration: none;
  color: black;
}
[contenteditable='true']{
  border: 1px gray dashed;
  background-color: lightgray;
  outline: none;
}
[contentEditable=true]:empty:not(:focus):before{
  color:grey;
  font-style:italic;
}
.sticky {
  position: sticky;
  top: 0;
  padding-top: 0.1px;
  background-color: lightgray;
  z-index: 10;
}
.pre {
  font-family: monospace;
}
.edit-icon {
  display: inline-block;
  transform: rotateZ(90deg);
}
.icon-rotate {
  transform: rotateZ(45deg);
}
.icon-fl-right {
  float: right;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  margin-right: 1em;
}
.active .float-menu-item,
.column:hover .float-menu-item{
  opacity: 1;
}
.float-menu {
}
.float-menu-item {
  opacity: 0;
  white-space: pre;
  margin-top: .5em;
  margin-bottom: .5em;
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
}
.float-menu-icon {
  text-align: center;
  display: inline-block;
  font-size: 1.25em;
  width: 1em;
  height: 1em;
}
.float-menu-toggle {
  display: none;
}
ul {
  position: relative;
  padding: 0;
}
ul li {
  list-style-type: none;
}
li:hover:after {
  content: '☆';
  position: absolute;
  right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  text-align: center;
  margin-right: 1em;
}
.close-icon {
  border: 1px solid black;
  border-radius: 5em;
}
body {
  margin: 0 .5em 0 .5em;

/*flexy stuff*/
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
header {
  flex: 0 0 70px;
  overflow: hidden;
}
main {
  flex: 0 1 auto;
  display: flex;
  background-color: lightgray;
  overflow-y: hidden;
}
body main #songbookList {
  background-color: lightyellow;
  flex: 0 1 300px;
  z-index: 1;
}
body main #songList {
  background-color: lightsalmon;
  flex: 0 0 0px;
  z-index: 2;
}
body main #song {
  background-color: lightblue;
  flex: 0 0 0px;
  z-index: 3;
}
body main .sidebar {
  flex: 0 0 0px;
  border: 0;
  z-index: 4;
}
footer {
  flex: 0 0 40px;
  width: 100%;
  background-color: lightgreen;
  border-top: ridge 5px black;
  border-left: double 3px black;
  border-right: double 3px black;
  max-height: 3em;
  overflow-y: scroll;
}
#debugDiv {
}
/*footer:hover{
  flex: 0 0 180px;
}*/

/*Styling!*/
.navigation {
  border-top: 3px double black;
}
.selected {
  background-color: rgba(0, 0, 0, 0.2);
}
.row {
  overflow: hidden;
  flex: 0 1 auto;
  display: flex;
  height: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  max-height: 100%;
}
.subcolumn {
  height: 100%;
  flex: 1 1 400px;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
}
.subcolumn > div {
  padding: 0 1rem 0 1rem;
}
.column, body.edit .sidebar {
  box-shadow: 0px 0 40px 10px rgba(0, 0, 0, 0.8);
  border-left: 1.5px solid gray;
  overflow-y: auto;
  overflow-x: hidden;
}

html body .subcolumn.sidebar {
  box-shadow: none;
}
#songbookList, #songList, #song {
  width: 100%;
}

/*Focus modes - Drop Shadows and FLexyness
/Focus songbookList*/
body.songbookList #songbookList {
  z-index: 5;
  flex: 0 0 300px;
}
body.songbookList #song {
  z-index: 1;
}

/*Focus songList*/
body.songList #songList {
  z-index: 5;
  flex: 0 0 400px;
}
body.songList #songbookList {
  flex: 0 1 300px;
}

/*Focus song*/
body.song #song{
  flex: 0 0 400px;
}
body.song #songList {
  flex: 0 1 400px;
}
body.song #songbookList {
  flex: 0 1 300px;
}
body.edit.song #songList #songListEdit {
  flex: 0 0 0 !important;
}

/*Focus edit*/
body.edit .sidebar {
  background-color: lightgray;
  z-index: 7;
  flex: 0 0 20px;
}
body.edit .sidebar-open {
  flex: 0 0 240px;
}
body.edit.song #song, body.edit.songList #songList {
  flex: 0 .2 700px; /*in mobile view it shrinks upper tabs more than desirable*/
}



/*normalize*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
button,
input { /* 1 */
  overflow: visible;
}
button,
select { /* 1 */
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  outline: none;
}
button::-moz-focus-inner {
   border: 0;
}
button {
  margin: 0;
  padding: 0;
  white-space: normal;
  display: inline;
  background: none;
  outline: none;
  border: none;
  text-align: left;
}
.float-menu .float-menu-item.float-menu-editing {
  opacity: 0;
  visibility: collapse;
  width: 0;
}
.edit .active .float-menu .float-menu-item {
  width: 0;
  visibility: collapse;
  opacity: 0;
}
.edit .active .float-menu .float-menu-item.float-menu-editing {
  width: auto;
  visibility: visible;
  opacity: 1;
}

/*For Mobile devices only*/
@media only screen and (max-width: 700px) {
  body.edit .sidebar {
    overflow: hidden;
  }
  body.edit .sidebar-open {
    overflow: auto;
  }

  header h2 {
    padding: 0 1rem 0 1rem;
  }
  body {
    margin: 0;
  }
  body main {
    flex-direction: column;
    position: relative; /*this is done for the content bubbles - float menu*/
  }
  body.songbookList #songbookList, 
  body.songList #songList, 
  body.song #song {
    flex-grow: 4;
    flex-shrink: 0.2;
  }

  /*Focus songList*/
  body.songlist header {
    flex: 0 0 0;
  }
  body.songList #songbookList {
    flex: 0 0 3.7rem;
    overflow: hidden;
  }
  body.songList #songbookList .subcolumn {
    overflow: hidden;
  }

  /*Focus song*/
  body.song header,
  body.song #songBookList {
    flex: 0 0 0;
    overflow: hidden;
  }
  body.song #songList .subcolumn,
  body.song #songbookList .subcolumn {
    overflow: hidden;
  }
  body.song #songList {
    flex: 0 0 3.7rem;
    overflow: hidden;
  }
  /*float for mobile*/
  .float-menu {
    position: absolute;
    right: 1.5em;
    bottom: 1em;
    z-index: 6;
    text-align: right;
  }
  .float-menu-item.uncollapsed:not(:last-child) {
    height: auto;
    opacity: 1;
    max-height: 50px;
  }
  .float-menu-item:not(:last-child){
    max-height: 0;
    opacity: 0;
    overflow: hidden;
  }
  .float-menu-item {
    white-space: pre;
    margin-top: .5em;
    display: block;
    font-weight: 600;
    vertical-align: middle;
    text-align: right;
  }
  .float-menu-icon {
    text-align: center;
    display: inline-block;
    font-size: 1.25em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    background-color: lightgray;
    border-radius: 20em;
    border: 1px solid gray;
  }
  .float-menu .float-menu-item.float-menu-editing {
    height: 0;
    display: none;
    width: auto;
  }
  .edit .active .float-menu .float-menu-item.float-menu-editing {
    height: auto;
    display: block;
  }
  .edit .active .float-menu .float-menu-item {
    height: 0;
  }
  .edit .active .float-menu {
    left: 1em;
    right: auto;
    bottom: 0;
  }
}
@media only screen and (min-width: 701px) {
  .float-menu {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    width: 100%;
    top: 0;
    background-color: gray;
    border-bottom: 1px solid black;
    height: 2.2em;
  }
  .float-menu-icon {
    display: none;
  }
  .float-menu-item:not(:first-child):after {
    content: ' //';
  }
  .column:hover {
    z-index: 6 !important;
  }
  body.edit .sidebar {
    flex: 0 0 240px;
  }
}

