:root {
  --songbookList-color: lemonchiffon;
  --songList-color: lightsalmon;
  --song-color: lightblue;
  --export-color: bisque;
  --edit-color: gainsboro;
  
  --background-color: white;
  --text-color: black;

  --box-shadow-var: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  --btn-shadow-var: 0 2px 2px 2px rgba(0, 0, 0, 0.1);
/*
  --background-color: black;
  --text-color: white;
  --edit-color: gray;
*/
}
*:focus {
  outline: 1px;
  outline-color: transparent;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, .5) !important;
}
*{
  box-sizing: border-box;
  transition: all .25s; 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
"Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
"Droid Sans", "Helvetica Neue", sans-serif;
}
/*normalize*/
html {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent; /* For some Androids */
}
.link:active,
.float-menu-icon:active,
.btn:active {
  transform: scale3d(0.9, 0.9, 1);
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.2; /* 1 */
  margin: 0; /* 2 */
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  -moz-appearance: button;
  cursor: pointer;
  outline: none;
}
button::-moz-focus-inner {
   border: 0;
}
button {
  padding: 0;
  white-space: normal;
  display: inline;
  background: none;
  outline: none;
  border: none;
  text-align: left;
}

body, body *,
.no-overscroll, .no-overscroll *{
  overscroll-behavior: contain;
}
body {
  background-color: var(--background-color);
}
html::after {
  border-bottom: 5px solid green;
  z-index: 10;
  width: 100vw;
  content: '';
  display: block;
  position: fixed;
  bottom: 0;
}
html, body, main{
  height: 100%; 
  margin: 0;
  color: var(--text-color);
}

main, header {
  margin: 0 .5em 0 .5em;
}
li > a {
  display: inline-block;
  width: 100%;
}
a {
  text-decoration: none;
  color: var(--text-color);
}
chunk[type="comment"] a {
  text-decoration: underline;
  color: blue;
}
.left {
  text-align: left;
}
#songbook_content.showStatus li[data-song-status="n"] a:before {
  content: '~ ';
  cursor: pointer;
}
#songbook_content.showStatus li[data-song-status="r"] a:before {
  content: '✗ ';
  cursor: pointer;
}
#songbook_content.showStatus li[data-song-status="a"] a:before {
  content: '✓ ';
  cursor: pointer;
}

/*DIALOG STYLING */
#dialog {
  transition: none;
  position: fixed;
  z-index: 12;
  background-color: white;
  border-radius : 400px;
  width: 200px;
  min-height: 200px;
  max-height: 80vh;
  filter: drop-shadow(3px 1px 4px gray);
  border: 0;
  text-align: center;
  margin: 0;
  padding: 1rem;
}
#dialog[data-use="player"]{
  width: 300px;
  width: min(300px, 60vh);
}
#dialog .title {
  display: block;
  width: min(98%, 100% - 1rem, 200px);
  margin-left: auto;
  margin-right: auto
}
#dialog .content {
  max-height: calc(80vh - 4rem);
  overflow: auto;
  margin-bottom: 2rem;
  font-size: .83rem;
  scrollbar-width: thin; /* Firefox */
  overflow-y:auto;
  overflow-x:hidden;
}
#dialog .handle {
  cursor: pointer;
}
#dialog .btn.close {
  position: absolute;
  bottom: 0;
  padding: 5px .5rem 5px .5rem;
  left: 0;
  right: 0;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
#dialog small {
  font-size: .65rem;
}
#dialog .btn {
  padding: 5px;
}

/*Standard Styling for columns */
#songbookList {
  --highlight-color: var(--songbookList-color);
  z-index: 1;
}
#songList {
  --highlight-color: var(--songList-color);
  z-index: 2;
}
#song {
  --highlight-color: var(--song-color);
  z-index: 3;
}
#export {
  --highlight-color: var(--export-color);
  z-index: 4;
}

.sidebar {
  --background-color: var(--edit-color);
  background-color: var(--background-color);
}

/*CSS FOR Song Display*/
#song song * {
  transition: none !important;
}
.deleted button,
.deleted a,
.deleted {
  color: gray !important;
}
.deleted .float-menu {
  pointer-events: none;
  cursor: default;
}
.deleted:before {
  position: absolute;
  display: block;
  content: 'DELETED';
  font-weight: bold;
  color: red;
  margin-top: .5rem;
  margin-left: 1rem;
  z-index: 2;
}
li[data-song-deleted="true"] a {
  color: gray;
  text-decoration: line-through;
}
li[data-song-id="section"] {
  border-bottom: 2px solid var(--edit-color);
  background-color: var(--highlight-color);
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  font-weight: bold;
}
li[data-song-id="section"] a {
  border: none !important;
  pointer-events: none;
}
.edit_pencil {
  margin-right: 1.5rem;
  font-size: .7rem;
}
stitle, cat, author, scrip_ref, key, copyright {
  cursor: pointer;
}
.song.edit .wrap {
  cursor: move;
}
.song.edit .wrap:hover {
  box-shadow: 0 0 0 1px rgb(143,186,200);
  border-radius: 2px;
}
.song.edit .toTextarea {
  cursor: text;
}
.song.edit song select {
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: var(--edit-color);
  border: 1px gray dashed;
}
.edit .active #songbook_header h3 *:not(a),
.edit .active stitle *:not(a) {
  display: none;
}
.edit .active #songbook_header a,
.edit .active song stitle a {
  display: block;
}
#songbookList a[href="#sb-allSongs"],
#songbookList a[href="#sb-favoriteSongs"] {
  font-style: italic;
  font-weight: bold;
}
#songbookList li {
  position: relative;
}
#song song stitle span:after,
#songbook_title + span:after {
  margin-left: .7rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  font-size: 1.7rem;
  color: var(--edit-color);
  content: '☆';
  cursor: pointer;
}
info:after {
  content: 'ⓘ';
  color: darkblue;
  cursor: pointer;
}
#songbookList li span:after {
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 1rem;
  font-size: 1.7rem;
  color: lightgray;
  display: none;
  cursor: pointer;
}
#song song[data-user-fav="true"] stitle span:after,
#songbookList li[data-user-fav="true"] span:after,
#songbook_title[data-user-fav="true"] + span:after {
  content: '★';
  color: black;
  display: inline-block;
}
stitle,
.column_header {
  position: sticky;
  top: 0;
  background-color: var(--background-color);
  z-index: 1;
  margin: 0 -1rem 0 -1rem;
  padding: 0.1px 1rem 0 1rem;
}
.song-highlight a {
  background-color: var(--song-color);
  border-color: darkcyan;
}
.songbook-highlight a {
  background-color: var(--songList-color);
  border-color: darksalmon;
}
.songList.edit #songbook_content ul {
  background-color: var(--edit-color);
  border: 1px gray dashed;
}
.songList.edit #songbook_content ul li{
  border: 1px #EEE dashed;
}
/*Overt,overb, moving are for sortable*/
.overt { 
  border-top: 1px dashed #000 !important;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.overb { 
  border-bottom: 1px dashed #000 !important; 
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.moving { 
  transform: scale(0.8); 
}
.list {
  min-height: 2rem;
}
.disabled-hidden {
  opacity: 0;
  height: 0;
  display:none !important;
}
#songListEdit [data-xInBook] {
  position: relative;
}
#songListEdit [data-xInBook] a {
  background-color: limegreen;
}
#songListEdit [data-xInBook]:before {
  content: attr(data-xInBook);
  position: absolute;
  left: -.5rem;
  top: -.2rem;
  font-size: small;
}
#songListEdit li {
  cursor: pointer;
}
.edit #songbook_content li {
  cursor: move;
}
#songbook_content li > button {
  position: absolute;
  right: .75em;
  top: .5rem;
}
[contenteditable='true'], .contenteditable-disabled {
  border: 1px gray dashed;
  background-color: var(--edit-color);
  outline: none;
}
[contenteditable='true']:focus, .contenteditable-disabled:focus {
  border: 1px dashed darkblue;
}
.contenteditable-disabled {color: #555; cursor: pointer}
.contenteditable-disabled:focus {cursor: pointer; color: black;}
[contenteditable=true]:empty:not(:focus):before{
  color:grey;
  font-style:italic;
}
pre, .pre {
  font-family: monospace;
}
.edit-icon {
  display: inline-block;
  transform: rotateZ(90deg);
}
.tr {
  display: none;
}
.row {
  position: relative;  /*fullscreen arrow positioning  */
}
.active .tr {
  font-size: 1.5em;
  display: initial;
  position: absolute;
  top: 1em;
  right: 1em;
  z-index: 6;
  padding: 0 .5rem 0.25rem .5rem;
  border-radius: 2rem;
}
.icon-rotate {
  transform: rotateZ(45deg);
}
.icon-rotate2x {
  transform: rotateZ(135deg);
}
.icon-fl-right {
  float: right;
  width: 1.75em;
  height: 1.75em;
  text-align: center;
}
.active .float-menu-item{
  opacity: 1;
}
.float-menu-item {
  opacity: 0;
  white-space: pre;
  margin-top: .5em;
  margin-bottom: .5em;
  display: inline-block;
  font-weight: 600;
  vertical-align: middle;
}
.float-menu-icon {
  text-align: center;
  display: inline-block;
  font-size: 1.25em;
  width: 1em;
  height: 1em;
}
.float-menu-toggle {
  display: none;
}
ul {
  padding: 0;
}
ul li {
  list-style-type: none;
  position: relative;
}
.close-icon {
  border-radius: 5em;
  background-color: var(--highlight-color);
  box-shadow: var(--box-shadow-var);
}
.songbookList-color {
  background-color: var(--songbookList-color);
}
.songList-color {
  background-color: var(--songList-color);
}
.btn {
  box-shadow: var(--btn-shadow-var);
  font-weight: bold;
  border-radius: 2rem;
  padding: 5px 15px 5px 15px;
  display: inline-block;
  margin: 1rem .5rem 1rem .5rem;
  color: var(--text-color);
}
.btn-small {
  padding: 2px 7px 2px 7px;
  margin: .5rem .25rem .6rem 0 !important;
}
.offline::after {
  border-bottom: 5px solid yellow;
}
span.deleteicon {
  position: relative;
}
span.deleteicon span {
  position: absolute;
  display: block;
  top: 0;
  right: 10px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}
input.deletable + span:after {   
  position: absolute;
  top: 0; 
  left: 0;
  width: 1.2em;
}
input.deletable:not(:placeholder-shown) + span:after {
  padding-left: 5px;
  content: '  X';
}
input.deletable:placeholder-shown + span:after {
  content: '🔍';
}
span.deleteicon input {
  padding-right: 24px;
}

/*Login CSS */
#login > input {
  width: calc(100% - 2rem);
}
#login h2 {
  font-size: xx-large;
  color: darkgray;
  left: -1rem;
  position: relative;
}
.loggedin_display,
.d_none {
  display: none;
}

.loggedin .loggedin_display {
  display: initial;
}

.pin input {
  width: 5rem;
}
.pin > span {
  color: darkred;
}
#login {
  display: none;
  margin: 5rem auto 5rem auto;
  padding: 0 1rem 0 1rem;
  padding-top: 1.5rem;
  max-width: 370px; 
  border: 1px solid gray; 
  background-color: lightgray;
}
.login #login {
  display: block;
}
.login #login + div {
  display: none;
}
#login > * {
  margin: 0 1rem 1rem 1rem;
}
#login button {
  margin: 1rem;
}
/*Create Local*/
#login.create_local .create_local {
  display: initial;
}
/*Login Local*/
#login.login_local .login_local {
  display: initial;
}
/*Connect Remote*/

/*Login Remote*/


/*Styling!*/
.selected {
  background-color: rgba(0, 0, 0, 0.2);
}
.row {
  overflow: hidden;
  height: 100%;
}
.column {
  max-height: 100%;
  background-color: var(--background-color);
  contain: strict;
}
.subcolumn {
  height: 100%;
  z-index: 5;
  overflow-y: auto;
  overflow-x: hidden;
}
.subcolumn > div {
  padding: 0 1rem 0 1rem;
}
.column, body.edit .sidebar, body.export .sidebar {
  box-shadow: var(--box-shadow-var);
  overflow-y: auto;
  overflow-x: hidden;
}
.sidebar {
  z-index: 7;
  height: 100%;
}
#songbookList, #songList, #song {
  width: 100%;
}

.commentsContainer {
  display: none;
  margin: 0 0 0 1rem;
  padding: 0.5rem;
  background-color: var(--edit-color);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.comments pre {
  padding: 0px;
  margin: 0px;
  margin-bottom: 2px;
}
.toggle_comment:after {
  display: block;
  content: attr(data-comment-number);
  position: absolute;
  top: -.5rem;
  left: 1rem;
  background-color: var(--background-color);
  padding: 2px;
  border-radius: 2rem;
}

/*Fullscreen*/
main.fullscreen,
.fullscreen {
  z-index: 11 !important;
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  transform: translate3d(0,0,0) !important;
  height: 100vh !important;
  margin: 0;
}

/*Focus Present */
#presentation {
  display: block;
  position: fixed;
  transform: translateY(100%);
  border: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 20;
  background-color: white;
}
body.present.songList #presentation {
  transform: translateY(0);
}

.float-menu.special [data-songbook-edit],
.float-menu.special .delete {
  display: none !important;
}
.float-menu .float-menu-item.float-menu-editing {
  opacity: 0;
  visibility: collapse;
  width: 0;
}
.edit .active .float-menu .float-menu-item {
  width: 0;
  visibility: collapse;
  opacity: 0;
}
.edit .active .float-menu .float-menu-item.float-menu-editing {
  width: auto;
  visibility: visible;
  opacity: 1;
}
.edit #songbook_title[contentEditable=true]:empty:before{
  content: 'Title ';
}
.search {
  border-radius: 20px;
  border: 1px rgb(238, 238, 238) inset;
  padding-left: .5em;
}
.search + span:after {position: relative;}
.search + span:before {
  position: relative;
  content: attr(data-number-visible);
  top: -.8em;
  right: -1em;
  border-radius: 2rem;
  background-color: var(--song-color);
  padding-left: .4em;
  padding-right: .4em;
  float: right;
}

/*Export accordion*/
input[type='radio'].toggle {
  display: none;
}
.lbl-toggle * {
  color: white;
  font-size: 0.75rem;
  font-family: monospace !important;
  vertical-align: middle;
}
.lbl-toggle span {
  display: inline-block;
}
.lbl-toggle {
  display: block;
  font-weight: bold;
  font-family: monospace !important;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding: 0.5rem;
  background: var(--song-color);
  cursor: pointer;
  border-radius: 8px;
  border: none;
}
.lbl-toggle::before {
  transform: rotate(0) translateX(0) translateY(-2px);
  transition: all .2s;
  content: ' ';
  display: inline-block;

  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 5px solid currentColor;

  vertical-align: middle;
  margin-right: .7rem;
}
.collapsible-content .content-inner {
  --background-color: var(--edit-color);
  background-color: var(--background-color);
  border-bottom: 1px solid lightgray;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: .5rem 1rem;
}
.collapsible-content {
  max-height: 0;
  overflow: hidden;
  margin-bottom: 1rem;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
  max-height: 650px;
  transition-delay: 0.065s; /*get weird resizing without this...  */
}
.toggle:checked + .lbl-toggle::before {
  transform: rotate(90deg) translateX(-3px);
}
.toggle:checked + .lbl-toggle {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.table tr td, .table tr th {
  border-bottom: solid 1px grey;
  border-right: solid 1px grey;
}
th {
  text-align: left;
}
/*This is not usable on mobile devices... they don't have access to the title tooltip*/
[rel=tooltip] {
  position: relative;
}
[rel=tooltip]:after {
  position: absolute;
  top: -4px;
  color: blue;
  content: 'i';
  width: 1rem;
  height: 1rem;
  font-size: small;
  font-style: italic;
  font-weight: normal;
  text-align: center;
  padding-right: 1px;
  padding-bottom: 1px;
  border-radius: 50%;
  background-color: var(--highlight-color);
}
input[type="number"] {
  padding-left: 0.1rem;
  width: 3rem;
}
.art {  /*align right top */
  text-align: right;
  vertical-align: top;
}
.fr {
  float: right;
}
.t3 > :not(:first-child) { /*t3 is a random class name*/
  float: right;
}
.t3 > :first-child {
  display: inline-block;
  height: 2rem;
}
.export_status {
  display: none;
}
.showStatus .export_status {
  display: initial;
}
.song .hide_for_songs {
  display: none;
}
#raw_edit {
  background-color: #EEE;
  border-radius: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.001rem;
}
#raw_edit .key_content {
  padding: 0.5rem;
}

/*Switch*/
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
  vertical-align: middle;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: .4s;
  border-radius: 34px;
  background-color: var(--edit-color);
}
.slider:before {
  position: absolute;
  content: attr(data-text);
  padding-left: 3px;
  height: 20px;
  width: 17px;
  left: 4px;
  bottom: 15%;
  background-color: var(--highlight-color);
  transition: .4s;
  border-radius: 50%;
}
.slider.background:before {
  background-color: var(--edit-color);
}
.switch input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(50px);
}
.slider:after {
 content: 'Off';
 display: block;
 position: absolute;
 transform: translate(-50%,-50%);
 top: 50%;
 left: 50%;
 font-size: 12px;
 font-family: Verdana, sans-serif;
 font-weight: bold;
}
.switch input:checked + .slider:after {
  content:'On';
}
#export_form .switch {
  height: 1.75rem;
}
/*End Switch*/

/*For phone in portrait*/
@media only screen and (max-width: 639px) {
  body .sidebar,
  body.edit .sidebar {
    overflow: hidden;
  }
  body.edit .sidebar-open {
    overflow: auto;
  }

  body.song.export #song .subcolumn,
  body.songList.export #songList .subcolumn {
    overflow: hidden;
  }
  ul li a{
    padding: 5px 10px 5px 10px;
    margin: 5px 0 5px 0;
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    border-radius: 20px;
  }

  body stitle {
    padding-top: .6rem;
  }
  .column_header h3 {
    margin-top: .6rem;
  }

  header,
  main,
  .column {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
  }
  main,
  .column {
    transform: translate3d(0, 100vh, 0);
    height: calc(100vh - 4rem);
  }
  
  /*SongbookList */
  .songbookList main {
    transform: translate3d(0, 4rem, 0);
    height: calc(100vh - 4rem);
  }
  .songbookList #songbookList {
    transform: translate3d(0, 0, 0);
  }

  /*SongList */
  .songList main,
  .songList #songbookList {
    transform: translate3d(0, 0, 0);
    --background-color: var(--highlight-color);
  }
  .songList #songList {
    transform: translate3d(0, 4rem, 0);
  }
  /*Song */
  .song main,
  .song #songbookList,
  .song #songList {
    transform: translate3d(0, 0, 0);
    --background-color: var(--highlight-color);
  }
  .song #song {
    transform: translate3d(0, 4rem, 0);
  }

  .sidebar {
    position: fixed;
    border-top: 8px solid var(--highlight-color);
    top: 0;
    bottom: 0;
    right: 0;
    width: 280px;
    transform: translate3d(280px, 0, 0);
  }

  body.revertBackground .column {
    --background-color: inherit !important;
  }

  /*Focus edit*/
  .edit.songList #songList .sidebar,
  .edit.song #song .sidebar {
    transform: translate3d(250px, 0, 0);
  }
  .edit.songList #songList .sidebar-open,
  .edit.song #song .sidebar-open {
    transform: translate3d(0, 0, 0);
  }

  /*Export */
  .export main,
  .export #songbookList,
  .export #songList,
  .song.export #song {
    transform: translate3d(0, 0, 0);
    --background-color: var(--highlight-color);
  }
  .export #export {
    transform: translate3d(0, 4rem, 0);
  }
  .export #export .sidebar {
    transform: translate3d(250px, 0, 0);
  }
  .export #export .sidebar-open {
    transform: translate3d(0, 0, 0);
  }

  /*Left Slide out */
  .lSlideOut{
    transform: translate3d(0,4rem,0) !important;
    z-index: 4 !important;
    width: 300px !important;
  }
}
/** Phone in landscape **/
@media only screen and (max-height: 500px) and (min-width: 640px) {
  .songList #header,
  .song #header,
  .export #header {
    flex: 0 0 0;
  }
  .column {
    position: relative;
  }
}
@media only screen and (max-height: 500px) {
  body.songbookList header h2 {
    margin-top: .5rem;
  }
}
/** Phone in portrait and landscape**/
@media only screen and (max-width: 639px),
only screen and (max-height: 500px) {
  main, header {
    margin: 0;
  }
  header #title,
  #welcome {
    padding: 0 1rem 0 1rem;
  }
  body.songbookList header {
    border-bottom: gray 1px solid;
  }
  .edit song {
    margin-bottom: 10rem;
  }

  .row {
    border-top: 8px solid var(--highlight-color);
  }

  /*float for mobile*/
  .float-menu {
    position: absolute;
    right: 1.5em;
    bottom: 1em;
    z-index: 6;
    text-align: right;
  }
  .float-menu-item.uncollapsed:not(:last-child) {
    height: auto;
    display: block;
    max-height: 50px;
  }
  .float-menu-item:not(:last-child){
    max-height: 0;
    display: none;
    overflow: hidden;
  }
  .float-menu-item {
    white-space: pre;
    margin-top: .5em;
    display: block;
    font-weight: 600;
    vertical-align: middle;
    text-align: right;
  }
  .float-menu-icon {
    text-align: center;
    display: inline-block;
    font-size: 1.5em;
    width: 2em;
    height: 2em;
    line-height: 2em;
    background-color: var(--highlight-color);
    border-radius: 20em;

  }
  .float-menu .float-menu-item.float-menu-editing {
    height: 0;
    display: none;
    width: auto;
  }
  .edit .active .float-menu .float-menu-item.float-menu-editing {
    height: auto;
    display: block;
    max-height: inherit;
  }
  .edit .active .float-menu .float-menu-item {
    display: none;
  }
  .edit .active .float-menu {
    left: 1em;
    right: auto;
  }
}
/*larger screen and landscape phone */
@media only screen and (min-width: 640px){
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
  }
  .header header {
    flex: 0 1 100%;
  }
  .header main {
    flex: 0 0 0;
  }
  header {
    flex: 0 0 3.3rem;
    overflow: hidden;
  }
  main {
    flex: 0 1 100%;
    display: flex;
    overflow-y: hidden;
  }
  body {
    overflow: hidden;
  }
  body main #songbookList {
    flex: 0 1 300px;
  }
  body main #songList {
    flex: 0 0 0;
  }
  body main #song {
    flex: 0 0 0;
  }
  body main #export {
    flex: 0 0 0;
  }
  body main .sidebar {
    flex: 0 0 0;
  }
  #column-filler {
    background-color: var(--edit-color);
  }
  .row {
    flex: 1 1 auto;
    display: flex;
  }
  .column {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .subcolumn {
    flex: 1 1 400px;
  }

  /*Focus songbookList*/
  body.songbookList #songbookList {
    z-index: 5;
    flex: 0 0 300px;
  }
  body.songbookList #song {
    z-index: 1;
  }

  /*Focus songList*/
  body.songList #songList {
    z-index: 5;
    flex: 0 0 400px;
  }
  body.songList #songbookList {
    flex: 0 1 300px;
  }

  /*Focus song*/
  body.song #song{
    flex: 0 0 400px;
  }
  body.song #songList {
    flex: 0 1 400px;
  }
  body.song #songbookList {
    flex: 0 0 2.5rem;
  }
  body.song #songbookList .subcolumn {
    overflow: hidden;
  }
  body.edit.song #songList #songListEdit {
    flex: 0 0 0 !important;
  }

  /*Focus edit*/
  body.edit .sidebar {
    flex: 0 0 280px;
  }
  body.edit .sidebar-open {
    flex: 0 0 280px;
  }
  /*Focus export*/
  body.export.song #song, 
  body.export.songList #songList {
    flex-shrink: 1;
  }
  body.export.song #songList,
  body.export.songList #songbookList {
    flex-shrink: 2;
  }
  body.export #export .sidebar {
    flex: 0 0 360px;
  }
  body.export #export .sidebar-open {
    flex: 0 0 360px;
  }
  body.export #export {
    flex: 0 0.05 800px;
  }
/*--From below */
  #songbookList li span:after {
    bottom: 0;
  }
  ul li a{
    border-left: 1px solid #EEE;
    border-radius: 20px;
    padding: 2px 8px 2px 8px;
    margin: 2px 0 2px 0;
  }
  #column-filler {
    flex: 1 1 auto;
  }
  .close-icon {
    display: none;
  }
  body.edit.song #song, 
  body.edit.songList #songList {
    flex: 0 .2 740px;
  }
  body.song #songbookList #songbooks_header h3 {
    height: 100vh;
    display: block;
  }
  body.song #songbookList .title_link {
    transform:  translate3d(-10%, -50%, 0) rotate(-90deg);
    z-index: 10;
    display: block;
  }
  body.song #songbookList #songbooks_header {
    background-color: var(--songbookList-color);
  }
  body.song #songbookList a {
    height: 15rem;
  }
  #songbooks {
    width: 300px;
  }
  #export .content {
    min-width: 375px;
    max-width: 425px;
  }
  #song .content,
  #songbook_content {
    min-width: 400px;
  }
}
/**larger than phone landscape or otherwise**/
@media only screen and (min-width: 640px) and (min-height: 501px){
  .float-menu:not(:last-child) {
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    top: 0;
    border-bottom: 2px solid black;
    height: 2.2em;
    padding-right: 1rem;
  }
  .float-menu-icon {
    display: none;
  }
  .float-menu-item:not(:first-child):after {
    content: ' //';
  }
  .float-menu {
    background-color: var(--highlight-color);
  }
  .column:first-child .row {  
    border-left: 1px solid lightgray;  
  }
}
/* smartphones, touchscreens */
@media (hover: hover) and (min-width: 640px) {
  .lbl-toggle:hover {
    color: #444;
  }
  .column:not(:last-child):hover {
    z-index: 6 !important;
  }
  #songbook_title[data-user-fav="true"] + span:hover:after,
  #song song[data-user-fav="true"] stitle span:hover:after {
    content: '☆';
    color: black;
  }
  #songbook_title + span:hover:after,
  #song stitle span:hover:after {
    content: '★';
    cursor: pointer;
    color: black;
  }
}
@media (hover: hover) and (min-width: 640px) and (min-height: 501px) {
  .column:hover .float-menu-item{
    opacity: 1;
  }
}
/*Export CSS Icons */
#page_icon {
  display: inline-flex;
  width: .9rem;
  height: 1.2rem;
  border: 1px solid white;
  padding: 0;
  position: relative;
}
#page_icon.single_sided:before {
  width: 100%;
  height: 100%;
  display: block;
  position: absolute;
  content: '';
  top: -3px;
  left: -4px;
  border-left: 1px solid white;
  border-top: 1px solid white;
}
#page_icon.double_sided:before {
  width: 30%;
  height: 30%;
  display: block;
  position: absolute;
  content: '';
  bottom: -4px;
  right: -3px;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}
#page_icon.landscape {
  width: 1.2rem;
  height: 0.9rem;
}
#page_icon .col {
  display: inline-block;
  flex: 1 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-right: 0.5px solid white;
  border-left: 0.5px solid white;
}
#margin_icon {
  width: 1rem;
  height: 1.4rem;
}
#margin_icon.landscape {
  width: 1.4rem;
  height: 1rem;
}
.flex:not(:last-child) {
  border-bottom: 1px white solid;
}
.flex {
  height: 33%;
  display: flex !important;
  margin: 0;
  padding: 0;
  vertical-align: unset !important;
}
.flex .col:not(:last-child) {
  border-right: 1px solid white;
}
.flex .col {
  display: inline-block;
  flex: 1 100%;
  padding: 0;
  margin: 0;
}
.normal .flex {
  height: 25%;
}
.normal .flex:nth-child(2) {
  height: 50%;
}
.normal .flex .col:nth-child(2) {
  flex-basis: 200%;
}
.narrow .flex {
  height: 17%;
}
.narrow .flex:nth-child(2) {
  height: 66%;
}
.narrow .flex .col:nth-child(2) {
  flex-basis: 300%;
}
.wide .flex {
  height: 25%;
}
.wide .flex:nth-child(2) {
  height: 50%;
}
.wide .flex .col:nth-child(2) {
  flex-basis: 100%;
}
.custom .flex:nth-child(2) .col:nth-child(2):after {
   content: '*';
   color: red;
   position: relative;
   top: -2.5px;
}
/* Category Filter */
.cat_filter_btn {
  padding: 5px 11px 5px 11px;
  display: inline-block;
  margin: 0 0 0 5px;
  box-shadow: var(--btn-shadow-var);
}
#category_filter_container.open .cat_filter_btn{
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#category_filter_container {
  display: inline-block;
  position: relative;
}
#category_filter_container > * {
  background-color: var(--song-color);
  border-radius: 1rem;
}
#category_filter {
  position: absolute;
  left: -218px;
  width: 370px;
  transform: scaleY(0);
  overflow: hidden;
  box-shadow: var(--btn-shadow-var);
}
#category_filter select {
  background-color: lightcyan;
  border-radius: 2rem;
}
.open #category_filter{
  transform: scaleY(1);
  padding: 5px;
}
.mb23 {
  margin-bottom: 2.5em
}
.bluehighlight {
  background-color: var(--song-color) !important;
}

/*TOOLTIP CSS*/
[rel="tooltip"] {
}
[rel="tooltip"] {
  cursor: help;
}
#tooltip {
  text-align: center;
  font-style: italic;
  background: var(--export-color);
  position: absolute;
  z-index: 100;
  padding: 15px;
  border-radius: 2rem;
  box-shadow: var(--box-shadow-var);
}
 
#tooltip:after { /* triangle decoration */
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--export-color);
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  margin-left: -10px;
}

#tooltip.top:after {
  border-top-color: transparent;
  border-bottom: 10px solid var(--export-color);
  top: -20px;
  bottom: auto;
}

#tooltip.left:after {
  left: 10px;
  margin: 0;
}

#tooltip.right:after {
  right: 10px;
  left: auto;
  margin: 0;
}
